# Database
POSTGRES_URL=

# Object Storage
BLOB_READ_WRITE_TOKEN=

# Screenshot Service
SCREENSHOT_API_URL=https://api.screenshotapi.io/v1/screenshot
SCREENSHOT_API_KEY=

# AI Classification Service
OPENAI_API_KEY=

# Application
NEXT_PUBLIC_APP_URL=http://localhost:3000
VERCEL_PROJECT_PRODUCTION_URL=
